* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* :root {
    background: #45ABEA;
    background: #47ADF1;
    background: #64C0A9;
    background: #9C72E4;
    background: #B0C926;
    background: #D863A1;
    background: #D9D9D9;
    background: #F29E33;
    #C7CDD2
} */

body {
    font-family: 'Arial',  sans-serif;
    background-color: #D9D9D9;
}

/* site_header */

#site_header {
    background-color: white;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

#site_header img {
    vertical-align: middle;
}

#site_header h1 {
    font-size: 2.5rem;
}

/* site_main */

/* #site_main .container {

} */

#task_blue {
    background-color: #45ABEA;
    display: inline-block;
    width: 80px;
    height: 20px;
    text-align: center;
    border-radius: 3px;
    color: white;
    font-size: small;
}

#task_border {
    background-color: white;
    display: inline-block;
    width: 80px;
    height: 20px;
    text-align: center;
    border-radius: 3px;
    color: #C7CDD2;
    font-size: small;
    border: 1px solid #C7CDD2;
}